<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>monitoring.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>monitoring.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>monitoring.servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewDataServlet</servlet-name>
        <servlet-class>monitoring.servlet.ViewDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewDataServlet</servlet-name>
        <url-pattern>/viewData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditMealtimeServlet</servlet-name>
        <servlet-class>monitoring.servlet.EditMealtimeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditMealtimeServlet</servlet-name>
        <url-pattern>/editMealtime</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InputDataServlet</servlet-name>
        <servlet-class>monitoring.servlet.InputDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InputDataServlet</servlet-name>
        <url-pattern>/inputData</url-pattern>
    </servlet-mapping>

</web-app>
